
<div class="conteudo mat-elevation-z8">
<h1>Criar uma nova Tarefa</h1>
<form>
    

    <mat-form-field class="data-finalizar" style="border-radius: 5px;  ;" appearance="fill">
        <mat-label>Data para finalizar</mat-label>
        <input [(ngModel)]="todo.dataParaFinalizar" name="todo.dataParaFinalizar" matInput [matDatepicker]="dp3" disabled>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>

   

      <div class="forms">
        <mat-form-field style="border-radius: 5px ;" class="form" appearance="fill">
            <mat-label>Titulo</mat-label>
            <input [(ngModel)]="todo.tituloString" name="titulo.tituloString" matInput placeholder="Ex. Estudar">
          </mat-form-field>
    
        <mat-form-field style="border-radius: 5px;" class="form" appearance="fill">
            <mat-label>Descrição</mat-label>
            <input [(ngModel)]="todo.descricao" name="todo.descricao" matInput placeholder="Ex.Estudar Spring Boot depois de chegar do trabalho" >
          </mat-form-field>
      </div>

      <div class="buttons">
        <button (click)="create()" mat-raised-button color="primary">Criar</button>
        <button routerLink="" mat-raised-button color="accent">Cancelar</button>
      </div>
     
   

</form>
</div>